body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bbb3b3;
    color: rgba(59, 42, 206, 0.67);
}
